.latest_table {
	width:152px;
}

.latest_headerTitle {
	width: 152px;
	background-image: url('../images2/tt_news/latest_trennstrich.gif');
	background-repeat: repeat-x;
	background-position: bottom;
	font-family: "Trebuchet MS", Arial, Helvetica;
	font-size: 11px;
	color: #DA2A42;
	font-weight: bold;
	padding-top:2px;
	padding-bottom:2px;
}

.latest_header {
	background-image: url('../images2/tt_news/latest_trennstrich.gif');
	background-repeat: repeat-x;
	background-position: top;
}

.latest_date {
	font-family: "Trebuchet MS", Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	width: 152px;
	color: #7D7C7C;
	background-image: url('../images2/tt_news/latest_trennstrich_datum.gif');
	background-repeat: repeat-x;
	margin-top: 12px;
	padding-top:3px;
	padding-left: 5px;
}
html>body .latest_date {
	width: 146px;
}


.latest_title {
	font-family: "Trebuchet MS", Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color: black;
	padding-left: 5px;
	padding-right:5px;
}
.latest_subheader {
	font-family: "Trebuchet MS", Arial, Helvetica;
	font-size: 11px;
	color: #7D7C7C;
	padding-left: 5px;
	padding-right:5px;
}
.latest_more {
	font-family: "Trebuchet MS", Arial, Helvetica;
	font-size: 11px;
	padding-left: 5px;
	padding-right:5px;
}

.latest_more a {
	text-decoration:none;
	color: #000000;
}

.latest_more a:hover {
	text-decoration:none;
	color: #7d7c7c;
}

/* LIST */

.list_titleRow {
	padding-top:5px;
}

.list_subheader {
	padding-bottom:5px;
	width:450px;
	background-image: url('../images2/content_title_back.gif');
	background-repeat: no-repeat;
	background-position: bottom;
}

/* SINGLE */

.single_title {
	color: #DA2A42;
	font-size: 16px;
	font-weight: bold;
	margin-bottom:11px
}

.single_subheader {
	font-weight: bold;
	margin-bottom:11px
}
