.navi1 {
	color: white;
	font-weight:bold;
}

.navi1 a {
	color: white;
	text-decoration: none;
}

.navi1b {
	color: black;
	font-weight:bold;
}

.navi1b a {
	color: black;
	text-decoration: none;
}

.mainnavi {
	padding-top: 3px;
	color: white;
}

.subnavi_table {
	margin:0px;
	margin-left: 0px;
	width: 144px;
}

.Nav1, .Nav2 {
	width:144px;
	margin:0px;
	background-image: url('../images/subnavi/nosub_back.gif');
	background-repeat: repeat-x;
	padding-left:13px;
	padding-top:4px;
	padding-bottom:1px;
}

.Nav1 a, .Nav2 a {
	color: #000000;
	text-decoration: none;
	display:block;
	width:100%;


}

.Nav1sub {
	width:144px;
	margin:0px;
	background-image: url('../images/subnavi/sub_back.gif');
	background-repeat: repeat-x;
	padding-left:13px;
	padding-top:4px;
	padding-bottom:1px;
}

.Nav1sub a {
	color: #5A5959;
	text-decoration: none;
	display:block;
	width:100%;

}

.Nav1subb {
	width:144px;
	margin:0px;
	background-image: url('../images/subnavi/sub_back_act.gif');
	background-repeat: repeat-x;
	padding-left:13px;
	padding-top:4px;
	padding-bottom:1px;
}

.Nav1subb a {
	color: #DA2A42;
	text-decoration: none;
	display:block;
	width:100%;

}

.Nav1b, .Nav2b {
	width:144px;
	margin:0px;
	background-image: url('../images/subnavi/nosub_back_act.gif');
	background-repeat: no-repeat;
	padding-left:13px;
	padding-top:4px;
	padding-bottom:1px;
}

.Nav1b a, .Nav2b a {
	color: #DA2A42;
	text-decoration: none;
	display:block;
	width:100%;

}

.Nav2 {
	padding-left:18px;
	padding-top:4px;
	padding-bottom:1px;
}

.Nav2b {
	padding-left:18px;
    background-image: url('../images/subnavi/nosub_back.gif');
	background-repeat: repeat-x;
}

.Nav2b a {
	color: white;
	display:block;
	width:100%;
}

span {
	margin:0px;
	padding:0px;
}
