/* default styles for extension "tx_advCalendar_pi1" */
		.tx-advCaledar-pi1 { PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-COLOR: #FFEEEE; font-family:Verdana; font-size:12px; }
		.tx-advCaledar-pi1 H1 { BACKGROUND-COLOR: #EEDDDD; font-size:16px; FONT-WEIGHT: bold; }
		.tx-advCaledar-pi1 P { BACKGROUND-COLOR: #EEDDDD; font-size:12px; }
		.tx-advCaledar-pi1 TD { font-size:12px; FONT-WEIGHT: bold; }
		.tx-advCaledar-pi1 A { color:black; FONT-WEIGHT: bold; }
		.tx-advCaledar-pi1 TD.notInMonth TD { FONT-WEIGHT: normal; FONT-SIZE: 8px; }
		.tx-advCaledar-pi1 TD.notInMonth A { color:gray; }
		.tx-advCaledar-pi1 TD.bottomEventsExpired { BACKGROUND-COLOR: #EEDDDD; color:red; }
		.tx-advCaledar-pi1 TD.bottomEventsExpired A { color:red; }
		.tx-advCaledar-pi1 TD.bottomEvents { BACKGROUND-COLOR: #FFEEEE; }
/* default styles for extension "tx_indexedsearch" */
		.tx-indexedsearch .tx-indexedsearch-browsebox LI { display:inline; margin-right:5px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button { width:100px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword { width:150px; }
		.tx-indexedsearch .tx-indexedsearch-whatis { margin-top:10px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight:bold; font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-noresults { text-align:center; font-weight:bold; }
		.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color:red; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background:#eeeeee; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top:20px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top:0px; margin-bottom:0px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background:#cccccc; vertical-align:middle; }
		.tx-indexedsearch .tx-indexedsearch-res .noResume { color:#666666; }
		.tx-indexedsearch .tx-indexedsearch-category { background:#cccccc; font-size:16px; font-weight:bold; }

		/* Additional styles, needed for the tableless template_css.tmpl (styles don't conflict with the original template) */
		.tx-indexedsearch .res-tmpl-css { clear:both; margin-bottom:1em; }
		.tx-indexedsearch .searchbox-tmpl-css LABEL { margin-right:1em; width:10em; float:left; }
		.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css { letter-spacing:0; font-weight:normal; margin-top:-1.2em; float:right; }
		.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd { float:left; }
		.tx-indexedsearch .info-tmpl-css dd.item-mtime { float:none; }
		.tx-indexedsearch .info-tmpl-css dd.item-path { float:none; }
/* default styles for extension "tx_newloginbox_pi3" */
	.tx-newloginbox-pi3-listrow TD { background-color:#eeeeee; padding-left: 3px; padding-right: 3px; }
	.tx-newloginbox-pi3-listrow TR.tx-newloginbox-pi3-listrow-header TD { background-color:#cccccc; }
	.tx-newloginbox-pi3-listrow TR.tx-newloginbox-pi3-listrow-header TD P { font-weight:bold; }
	.tx-newloginbox-pi3-listrow TR.tx-newloginbox-pi3-listrow-odd TD { background-color:#f6f6f6; }
/* default styles for extension "tx_dedivbanner_pi1" */

  .pointer { cursor: hand}

  .bannerlink { font-family:verdana; font-size=12px; color: #ffffff; font-weight: normal; text-decoration:none; }

/* default styles for extension "tx_clicsvws_pi1" */
	.tx_clicsvws_pi1_mainTable { 
		width:98%; 
		border-left: 1px solid black;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		}
	.tx_clicsvws_pi1_mainTableGroup { 
		width:98%; 
		}		
	.tx_clicsvws_pi1_leagueTable {
		width:100%;
	}
	.tx_clicsvws_pi1_tx_clicsvws_pi1_mainTableGroupTitle {
		font-weight: bold;
		padding:3px;
	}
	.tx_clicsvws_pi1_mainTableHeader {
		font-weight: bold; 
		border-bottom: 1px solid black;
		border-right: 1px solid black;
		padding:3px;
		background-color:#eeeeee; 
		}
	.tx_clicsvws_pi1_mainTableGroupHeaderCell {
		font-weight: bold;
		padding:3px;
		vertical-align: top;
	}
	.tx_clicsvws_pi1_mainTableGroupResultsTableCellLeft {
		padding:3px;
		vertical-align: top;
	}
	.tx_clicsvws_pi1_mainTableGroupResultsTableCellRight {
		padding:3px;
		text-align:right;
		vertical-align: top;
	}
	.tx_clicsvws_pi1_mainTableGroupResultsTableCellCenter {
		padding:3px;
		text-align:center;
		vertical-align: top;
	}
	
	.tx_clicsvws_pi1_ModuloRowZero {
		background-color: #EBEBEB;
	}
	
	.tx_clicsvws_pi1_ModuloRowOne {
	}
	
	
	.tx_clicsvws_pi1_mainTableGroupRankingTable, .tx_clicsvws_pi1_mainTableGroupResultsTable {
	}
	
	.tx_clicsvws_pi1_mainTableGroupRankingTableCellRight {
		padding:5px;
		text-align:right;
		border-bottom: 1px solid black;
	}
	.tx_clicsvws_pi1_mainTableGroupRankingTableCellLeft {
		padding:5px;
		border-bottom: 1px solid black;
	}
	
	
	.tx_clicsvws_pi1_cellWithleagueTableInIt {
		border-right: 1px solid black;
		padding:3px;
	}
	.tx_clicsvws_pi1_leagueTableLink a{
		color: black;
	}
	
	.tx_clicsvws_pi1_leagueTableLink a:link {
		color: black;
		text-decoration: underline;
	}

	.tx_clicsvws_pi1_leagueTableLink a:hover {
		color: #FF2700;
		text-decoration: none;
	}
	.tx_clicsvws_pi1_leagueTableLink a:visited {
		color: black;
	}
	.tx_clicsvws_pi1_leagueTableLink a:active {
		color: black;
	}
	ul.tx_clicsvws_pi1_leagueTableCCell_UL {
		padding:0px;
		padding-left:20px;
		margin:0px;
		margin-top:2px;
	}
	
	li.tx_clicsvws_pi1_leagueTableCCell_LI {
		padding:0px;
		margin:0px;
	}
	
	td.tx_clicsvws_pi1_leagueTableCCell{
		padding-bottom:10px;
	}
	
	td.tx_clicsvws_pi1_mainTableGroupResultsCell {
	
	}
	
	td.tx_clicsvws_pi1_mainTableGroupRankingCell {
		width:100%;
	}
	
	td.tx_clicsvws_pi1_mainTableGroupNextGamesCell {
	
	}
	
	td.tx_clicsvws_pi1_legendHeaderCell {
		font-size: 9px;
		border: 1px solid #B1B1B1;
		background-color: #DCDCDC;
	}
	
	td.tx_clicsvws_pi1_legendContent {
		font-size: 9px;
		border: 1px solid #B1B1B1;
	}
	
	.tx_clicsvws_pi1_legendTable {
		width: 300px;
		border-collapse:collapse;
	}
	
	SELECT.dropdown_quicksearch  {
		font-size: 9px;
	}
		
	INPUT.go_button  {
		font-size: 9px;
		float: none;
		width: auto;
		margin: 0px;
	}
	
/* default styles for extension "tx_clicsvws_pi2" */
	.tx_clicsvws_pi2_mainTable { 
		width:98%; 
		border-left: 1px solid black;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		}
	.tx_clicsvws_pi2_mainTableGroup { 
		width:98%; 
		}		
	.tx_clicsvws_pi2_leagueTable {
		width:100%;
	}
	.tx_clicsvws_pi2_tx_clicsvws_pi2_mainTableGroupTitle {
		font-weight: bold;
		padding:3px;
	}
	.tx_clicsvws_pi2_mainTableHeader {
		font-weight: bold; 
		border-bottom: 1px solid black;
		border-right: 1px solid black;
		padding:3px;
		background-color:#eeeeee; 
		}
	.tx_clicsvws_pi2_mainTableGroupHeaderCell {
		font-weight: bold;
		padding:3px;
		vertical-align: top;
	}
	.tx_clicsvws_pi2_mainTableGroupResultsTableCellLeft {
		padding:3px;
		vertical-align: top;
	}
	.tx_clicsvws_pi2_mainTableGroupResultsTableCellRight {
		padding:3px;
		text-align:right;
		vertical-align: top;
	}
	.tx_clicsvws_pi2_mainTableGroupResultsTableCellCenter {
		padding:3px;
		text-align:center;
		vertical-align: top;
	}
	
	.tx_clicsvws_pi2_ModuloRowZero {
		background-color: #EBEBEB;
	}
	
	.tx_clicsvws_pi2_ModuloRowOne {
	}
	
	
	.tx_clicsvws_pi2_mainTableGroupRankingTable, .tx_clicsvws_pi2_mainTableGroupResultsTable {
	}
	
	.tx_clicsvws_pi2_mainTableGroupRankingTableCellRight {
		padding:5px;
		text-align:right;
		border-bottom: 1px solid black;
	}
	.tx_clicsvws_pi2_mainTableGroupRankingTableCellLeft {
		padding:5px;
		border-bottom: 1px solid black;
	}
	
	
	.tx_clicsvws_pi2_cellWithleagueTableInIt {
		border-right: 1px solid black;
		padding:3px;
	}
	.tx_clicsvws_pi2_leagueTableLink a{
		color: black;
	}
	
	.tx_clicsvws_pi2_leagueTableLink a:link {
		color: black;
		text-decoration: underline;
	}

	.tx_clicsvws_pi2_leagueTableLink a:hover {
		color: #FF2700;
		text-decoration: none;
	}
	.tx_clicsvws_pi2_leagueTableLink a:visited {
		color: black;
	}
	.tx_clicsvws_pi2_leagueTableLink a:active {
		color: black;
	}
	ul.tx_clicsvws_pi2_leagueTableCCell_UL {
		padding:0px;
		padding-left:20px;
		margin:0px;
		margin-top:2px;
	}
	
	li.tx_clicsvws_pi2_leagueTableCCell_LI {
		padding:0px;
		margin:0px;
	}
	
	td.tx_clicsvws_pi2_leagueTableCCell{
		padding-bottom:10px;
	}
	
	td.tx_clicsvws_pi2_mainTableGroupResultsCell {
	
	}
	
	td.tx_clicsvws_pi2_mainTableGroupRankingCell {
		width:100%;
	}
	
	td.tx_clicsvws_pi2_mainTableGroupNextGamesCell {
	
	}
	
	td.tx_clicsvws_pi2_legendHeaderCell {
		font-size: 9px;
		border: 1px solid #B1B1B1;
		background-color: #DCDCDC;
	}
	
	td.tx_clicsvws_pi2_legendContent {
		font-size: 9px;
		border: 1px solid #B1B1B1;
	}
	
	.tx_clicsvws_pi2_legendTable {
		width: 300px;
		border-collapse:collapse;
	}
	
	SELECT.dropdown_quicksearch  {
		font-size: 9px;
	}
		
	INPUT.go_button  {
		font-size: 9px;
		float: none;
		width: auto;
		margin: 0px;
	}
	
/* default styles for extension "tx_felogin_pi1" */
	.tx-felogin-pi1 label {
		display: block;
	}
/* default styles for extension "tt_news" */
  /* example styles for the pagebrowser */
    .tx-ttnews-browsebox TD { font-size: 10px; }
    .tx-ttnews-browsebox-strong, .tx-ttnews-browsebox-SCell { font-weight: bold; }
    .tx-ttnews-browsebox-SCell { background-color: #EEE; }