body {
	margin:					0px;
	background-color:		#D9D9D9;
	background-image:		url('../images/back.jpg');
	background-repeat:		repeat-x;
}

body, table, tr, td, div, p {
	font-family:			Trebuchet MS, Arial, Helvetica;
	font-size:				11px;
	color:					#000000;
}

.mailform_field INPUT.textfield, .mailform_field TEXTAREA.textarea {
	font-family:			Trebuchet MS, Arial, Helvetica;
	font-size:				11px;
	color:					black;
	border:					1px solid #7F9DB9;
	width:					200px;
}

.checkboxlabel TD {
	padding-top:			4px;
}

INPUT.textfield {
	font-family:			Trebuchet MS, Arial, Helvetica;
	font-size:				11px;
	color:					black;
	border:					1px solid #7F9DB9;
	width:					200px;
}

INPUT.submitbutton {
	font-family:			Trebuchet MS, Arial, Helvetica;
	font-size:				11px;
	color:					white;
	border:					1px solid #7F9DB9;
	background-color:		#DA2A42;
}

INPUT.checkboxfield {
	text-align:				left;
	margin-left:			0px;
	padding-left:			0px;
	width:					20px;
	border:					0px;
}

SELECT.selectfield {
	font-family:			Trebuchet MS, Arial, Helvetica;
	font-size:				11px;
	border:					1px solid #7F9DB9;
	width:					200px;
}

TEXTAREA.textarea {
	font-family:			Trebuchet MS, Arial, Helvetica;
	font-size:				11px;
	border:					1px solid #7F9DB9;
	width:					200px;
}

a {
	text-decoration:		none;
	color:					#DA2A42;
}

a:hover {
	text-decoration:		none;
	color:					#000000;
}

.files, .uploadIcon {
	padding-right: 5px;
}

.kalendertitel {
	padding-left: 5px;
}

.ajaxTeamsearchDiv {
	white-space:			pre; 
	border:					1px solid gray;
	padding:				0px;
	margin:					0px;
	width:					90%; 
	height:					350px; 
	overflow:				auto;
}

.ajaxGamesearchDiv {
	white-space:			pre; 
	border:					1px solid gray; 
	padding:				0px; 
	margin:					0px; 
	width:					90%; 
	height:					350px; 
	overflow:				auto;
}

h1 {
	font-size:				14px;
	font-weight:			bold;
	padding-bottom:			6px;
	padding-top:			6px;
}

h2 {
	font-size:				13px;
	font-weight:			bold;
	padding-bottom:			6px;
	padding-top:			6px;
}

#movie {
	border:					1px solid black;
	width:					149px;
}

.searchbox {
	padding-left:			10px;
	height:					60px;
}

.banner_rotation {
	margin-top:				28px;
	margin-left:			8px;
}




.table_main {
	width:					960px;
}

.td_header1 {
	height:					76px;
	background-image:		url('../images/header.jpg');
}

.div_quicklinks {
	width:					143px;
	margin-left:			710px;
	color:					#FFFFFF;
	/*background-color:		#777777;*/
}

.div_quicklinks a:link, .div_quicklinks a:visited, .div_quicklinks a:active {
	color:					#FFFFFF;
}

.div_quicklinks a:hover {
	color:					#999999;
}

.td_header2 {
	height:					130px;
	background-image:		url('../images/header2.jpg');
	background-repeat:		no-repeat;
}

.td_header2_large {
	height:					130px;
	background-image:		url('../images/header2_large.jpg');
	background-repeat:		no-repeat;
}

.div_navi {
	height:					29px;
	margin-left:			420px;
	background-image:		url('../images/mainnavi_back.jpg');
	background-repeat:		no-repeat;
	padding-top:			3px;
	color:					#FFFFFF;
	font-weight:			bold;
}

.div_navi_large {
	height:					29px;
	margin-left:			420px;
	background-image:		url('../images/mainnavi_back_large.jpg');
	background-repeat:		no-repeat;
	padding-top:			3px;
	color:					#FFFFFF;
	font-weight:			bold;
}

.div_spacerimg {
	margin-left:			802px;
	margin-top:				10px;
}

.div_path {
	font-size:				9px;
	color:					#000000;
	margin-right:			253px;
	padding-bottom:			2px;
}

.div_path a:link, .div_path a:visited, .div_path a:active, .div_path a:hover {
	font-size:				9px;
	color:					#000000;
}

.div_path_large {
	font-size:				9px;
	color:					#000000;
	margin-top:				80px;
	margin-right:			60px;
	padding-bottom:			2px;
}

.div_path_large a:link, .div_path_large a:visited, .div_path_large a:active, .div_path_large a:hover {
	font-size:				9px;
	color:					#000000;
}

.div_content_container {
	width:					450px;
	text-align:				left;
}

.div_content_container_large {
	width:					670px;
	text-align:				left;
}

.div_pagetitle {
	height:					31px;
	color:					#DA2A42;
	font-weight:			bold;
	font-size:				20px;
	background-image:		url('../images/title.gif');
	background-repeat:		no-repeat;
	padding-top:			3px;
}

.div_pagetitle_large {
	height:					31px;
	color:					#DA2A42;
	font-weight:			bold;
	font-size:				20px;
	background-image:		url('../images/title_large.gif');
	background-repeat:		no-repeat;
	padding-top:			3px;
}

.td_subnavi {
	width:					172px;
	background-image:		url('../images/subnavi_back.jpg');
	background-repeat:		repeat-y;
}

.div_subnavi {
	margin-left:			8px;
}

.td_content {
	width:					617px;
	height:					700px;
	background-color:		#FFFFFF;
}
.td_content_large {
	width:					788px;
	height:					700px;
	background-color:		#FFFFFF;
}

.td_news {
	width:					171px;
	background-image:		url('../images/news_back.jpg');
	background-repeat:		repeat-y;
}

.div_news {
	margin-left:			3px;
	margin-right:			0px;
}

.td_left_border {
	width:					1px;
	background-color:		#FFFFFF;
	font-size:				1px;
}

.td_right_border {
	width:					1px;
	background-color:		#FFFFFF;
	font-size:				1px;
}

.content_title {
	font-weight:			bold;
	margin-bottom:			11px;
}

td.zero {
	background-color:		#E6E6E6;
	font-size:				11px;
}

td.one {
	background-color:		#F3F3F3;
	font-size:				11px;
}